*{
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    border: none;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.titul{
    padding-bottom: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: grid;
}

.titulo{
    font-size: 100px;
    font-style: italic;
    letter-spacing: 25px;
    font-weight: bolder;
    border-right: solid transparent;
    overflow: hidden;
    border-right: 10px solid #FFC2CD;
    white-space: nowrap;
    animation: 
    typing 6.5s forwards;
    width: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


.titulo2{
    margin-top: 20px;
    font-size: 60px;
    font-style: italic;
    letter-spacing: 25px;
    font-weight: bolder;
    transition: 0.4s;
}

@media only screen and (max-width: 675px) {
    .titulo2{
        font-size: 45px;
        letter-spacing: 10px;
        transition: 0.4s;
    }
}
@media only screen and (max-width: 410px) {
    .titulo2{
        font-size: 29px;
        letter-spacing: 10px;
        transition: 0.4s;
    }
}

.subtitulo{
    padding-left: 18px;
    font-size: 40px;
    font-weight: bold;
}
.texto{
    font-size: 20px;
    font-weight: 100;
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
li{
    font-size: 13px;
    font-weight: 100;
    margin: 20px;
    margin-left: 300px;
    margin-right: 300px;
    transition: 0.4s;
}

@media only screen and (max-width: 875px) {
    .lidis{
        display: inline-flex;
        padding-left: 60px;
        padding-right: 60px;
        transition: 0.4s;
    }
}

@media only screen and (max-width: 875px) {
    li{
        margin: 5px;
        transition: 0s;
    }
}

.img-eu{
    height: 100%;
    padding: 0px;
    border-radius: 25px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-top: none;
    border-bottom: none;
}

.fundoimg{
    display: grid;
    justify-content: center;
    justify-items: center;
    height: 510px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(55deg, #FFC2CD ,#ff768f);
    background-size: 500% 100%;
    animation: anim 4s infinite alternate ;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-left: none;
    border-right: none;
    overflow-y: hidden;
}

@keyframes anim{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100% ;
    }
}

.ps{
    text-align: center;
    display: grid;
    justify-content: center;
    background-image: linear-gradient(55deg, #FFC2CD ,#ff768f);
    background-size: 500% 100%;
    animation: anim 4s infinite alternate ;
    padding: 25px;
    border-radius: 25px;
    border: 2px;
    border-color: black;
    border-style: solid;
    transition: 0.4s;
    
}


.psimg{
    width: 400px;
    margin: 6px;
    border-radius: 15px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

@media only screen and (max-width: 975px) {
    .ps{
        display: inline-flex;
        transition: 0.4s;
        margin: 15px;
        padding: 0;
    }
    .edit{
        display: inline-flex;
        flex-wrap: wrap;
        transition: 0.4s;
    }
    #textops{
        margin: 0px;
        transition: 0.4s;
    }
    .psimg{
        margin: 7px;
    }
}

@media only screen and (max-width: 630px) {
    .ps{
        display: inline-grid;
    }
    .psimg{
        width: 330px;
    }
}


@media only screen and (max-width: 470px) {
    #dsimg{
        max-width: 285px;
        max-height: 285px;

    }
}

.edit{
    justify-content: center;
    display: flex;
    margin-top: 30px;
    transition: 0.4s;
}

#textops{
    max-width: 400px;
    transition: 0.4s;
}

button{
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 35px;
    background-image: linear-gradient(55deg, #FFC2CD ,#ff768f);
    background-size: 500% 100%;
    animation: anim 4s infinite alternate ;
    cursor: pointer;    
}

.musica{
    background-image: linear-gradient(55deg, #FFC2CD ,#ff768f);
    background-size: 500% 100%;
    animation: anim 4s infinite alternate ;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 100%;
    border-left: none;
    border-right: none;
}

iframe{
    width: 700px;
    height: 500px;
    border-radius: 15px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

@media only screen and (max-width: 1425px) {
    .treD{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px) {
    iframe{
        width: 330px;
    }
}
@media only screen and (max-width: 1100px) {
    .Desing{
        display: inline-grid;
        justify-content: center;
        justify-items: center;
    }
}

.Desing{
    background-image: linear-gradient(55deg, #FFC2CD ,#ff768f);
    background-size: 500% 100%;
    animation: anim 4s infinite alternate ;
    padding: 20px;
    border-radius: 15px;
    border: 2px;
    border-color: black;
    border-style: solid;
    margin: 3px;
    max-width: 1100px;
}

.dsimg{
    height: 400px;
    border-radius: 15px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.treD{
    display: flex;
    width: 100%;
    justify-content: center;
}

iframe{
    max-width: 450px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.gitimg{
    margin-right: 10px;
    margin-top: 15px;
}

.git{
    font-size: 27px;
}

.gitb{
    vertical-align: middle;
}

.ytimg{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    width: 32px;
}

.yt{
    font-size: 27px;
}
@media only screen and (max-width: 1000px) {
    .texto{
        margin: 0;
    }
}

.social-midia{
    display: inline-flex;
    height: 115px;
    width: 300px;
}

.contato{
    background-image: linear-gradient(55deg, #FFC2CD ,#ff768f);
    background-size: 500% 100%;
    animation: anim 4s infinite alternate ;
    padding: 20px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    margin: 25px;

}

#texto{
    background-color: none
}

@media only screen and (min-width: 1600px) {
    .titulo{
        font-size: 140px;
    }
    .titulo2{
        font-size: 100px;
    }
    .texto{
        font-size: 24px;
    }
    .psimg{
        width: 650px;
    }
    iframe{
        max-width: 440px;
    }
}
